/*
	Global classes
					*/
body {
	font-family: "Alata", sans-serif;
}

.mediaViewInfo {
	--web-view-name: Add Purchase;
	--web-view-id: Add_Purchase;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Add_Purchase;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Add_Purchase_Class {
	position: absolute;
	background: #E5E5E5;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Add Purchase;
	--web-view-id: Add_Purchase;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Component_3___3_Class {
	position: absolute;
	width: 328px;
	height: 643px;
	left: 24px;
	top: 126px;
	overflow: visible;
}
.Rectangle_8_Class {
	opacity: 0.505;
}
.Rectangle_8 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 661px;
	left: 0px;
	top: 0px;
}
.Add_Purchase_A2_Text_1_Class {
	position: absolute;
	left: 84px;
	top: 60px;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(112,112,112,1);
	letter-spacing: 0.1px;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 49px;
	left: 73px;
	top: 178px;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 63px;
	left: 73px;
	top: 280px;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 59px;
	left: 77px;
	top: 420px;
}
.Rectangle_10_Class {
	opacity: 0.415;
}
.Rectangle_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 110px;
	left: 75px;
	top: 556px;
}
.Icon_awesome_arrow_left {
	overflow: visible;
	position: absolute;
	width: 31.504px;
	height: 30.705px;
	left: 24.141px;
	top: 16.502px;
	transform: matrix(1,0,0,1,0,0);
}
.cancel_Class {
	position: absolute;
	left: 21px;
	top: 27px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(183,213,196,1);
	letter-spacing: 1px;
}
.Date__Class {
	position: absolute;
	left: 56px;
	top: 131px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
	letter-spacing: 0.1px;
}
.Location_Class {
	position: absolute;
	left: 56px;
	top: 233px;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
	letter-spacing: 0.1px;
}
.Amount_Spent__Class {
	position: absolute;
	left: 56px;
	top: 361px;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
	letter-spacing: 0.1px;
}
.Notes_Class {
	position: absolute;
	left: 62px;
	top: 509px;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
	letter-spacing: 0.1px;
}
.__Class {
	position: absolute;
	left: 70px;
	top: 425px;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(150,172,159,1);
	letter-spacing: 0.1px;
}
._optional___Class {
	position: absolute;
	left: 154px;
	top: 519px;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(175,175,175,1);
	letter-spacing: 0.1px;
}



.purchase-wrapper {
		width: 1200px;
		height: 500px;
		margin-left: 64px;
		margin-top: 61px;
		border-style: solid;
		border-width: 12px;
		border-color: #1f2f4a;
}

.cancel-wrapper {
		height: 30px;
		width: 75px;
		margin-left: 8px;
		margin-top: 8px;
		float: left;
}

.cancel {
	float: right;
	font-size: 16px;
}

.purchase-header {
		text-align: center;
		width: 250px;
		font-size: 30px;
		float: left;
		margin-left: 380px;
		margin-top: 2px;
		margin-right: 380px;
}

.field-wrapper {
		width: 290px;
		height: 380px;
		float: left;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 40px;
}

.date-option {
	text-align: center;
	padding-top: 20px;
	margin-top: 70px;
	margin-left:75px;
	position: absolute;
}

.amount-option{
	margin-top: 320px;
	margin-left: 75px;
	position: absolute;
}

.location-option {
	text-align: center;
	padding-top: 20px;
	margin-top: 180px;
	margin-left:75px;
	position: absolute;
}

.notes-textbox{
  margin-top: 450px;
  margin-left: 75px;
  position: absolute;
}

.purchasespent {
		text-align: center;
		padding-top: 20px;
}

.save-button {
	float: bottom;
	float: right;
	margin-top: 650px;
	margin-left:65px;
	position: absolute;
	width: 70px;
	font-size: 20px;
	font-family: "Alata";
	background-color: lightgray;
	border-style: solid;
	border-radius: 1px;
	border-color: gray;
}
