body,h1,h2,h3,h4,h5,h6 {font-family: "Alata", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}
.location-option{
  margin-top: 180px;
  margin-left:75px;
  position: absolute;
}
.date-option{
  margin-top: 70px;
  margin-left:75px;
  position: absolute;
}
.amount-option{
  margin-top: 320px;
	margin-left: 75px;
  position: absolute;
}

.notes-textbox{
  margin-top: 450px;
  margin-left: 75px;
  position: absolute;
}

.save-button{
  margin-top: 650px;
  margin-left:65px;
  position: absolute;
  width: 70px;
  font-size: 20px;
  font-family: "Alata";
  background-color: lightgray;
  border-style: solid;
  border-radius: 1px;
  border-color: gray;
}

.save-button2{
  margin-top: 130px;
  margin-left:25px;
  position: absolute;
  width: 70px;
  font-size: 20px;
  font-family: "Alata";
  background-color: lightgray;
  border-style: solid;
  border-radius: 1px;
  border-color: gray;
  text-align: center;
}
.recent-purchase{
  font-family: "Alata";
  font-size: 17px;
  margin-top:255px;
  margin-left:91px;
  position: absolute;
  letter-spacing: 0.3px;
}

.material-icons.md-36 { font-size: 36px; }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
