/* 
	Global classes 
					*/
body {
	
	
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 400x;
}

#money-spent {
	height: 180px;
	width: 180px;
	display: inline-block;
}

#money-remaining {
	height: 180px;
	width: 180px;
	display: inline-block;
}

.navigationBar {
	height: 60px;
	width: 300px%;
}

.singleButton {
	height: 50px;
	width: 40px;
	display: inline-block;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.singleButton p {
	 font-size: 9px;
	 text-align: center;
 }